@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&family=Nunito:wght@200;400&family=Roboto+Slab:wght@200;400&display=swap");

* {
  font-family: "Montserrat", sans-serif !important;
  text-decoration: none!important;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

