.background{
  background-image: url("../../assets/backgrondEmpresa.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  position: relative;
}

.logo{
  padding: 30px 30px 0px;
  width: 200px;
}

.logo img{
  width: 100%;
  border-radius: 50%;
}

#content{
  display: flex;
  flex-direction: row;
}

.nameDescription{
  padding: 20px 40px;
  width: 60%;
}

.sedeLink{
  padding: 68px 40px;

}
