.background{
  background-image: url("../../assets/capaEmpresa.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 
  position: relative;
}

.logo{
  padding: 30px 30px 0px;
}

#content{
  display: flex;
  flex-direction: row;
}

.nameDescription{
  padding: 20px 40px;
  width: 60%;
}

.sedeLink{
  padding: 68px 40px;

}
