@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&family=Nunito:wght@200;400&family=Roboto+Slab:wght@200;400&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

/* HEADER */

header{
    color: #f3c42e;
    text-align: center;
    padding: 15px;
    background-color: #280044;
}

.backBtn{
    height: 40px;
    position: absolute;
    top: 15px;
    left: 15px;
}

header h1{
    font-size: 36px;
}

header p{
    font-size: 18px;
}

/* MAIN */

