@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800;900&display=swap");

* {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #280044;
  min-height: 730px;
}

img {
  max-width: 70%;
  margin-top: 25px;
}

.registerContainer {
  display: flexbox;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 70%;
  margin: auto;
  border-radius: 20px;
  margin-bottom: 30px;
}

.registerContainer p{
  font-weight: 600;
  margin: 0px 0px 10px;
}

#cadastreButton {
  border-radius: 15px;
  margin-left: 15px;
}

#cadastreInput {
  margin-bottom: 15px;
  border-radius: 10px;
}

.loginTable {
  margin: auto;
  margin-top: 20px;
  font-weight: 600;
}

/* FOOTER */

.textFooter {
  font-weight: 700;
  font-size: 16px;
  color: white;
}

.companyRegisterBnt {
  border-radius: 10px;
  background-color: #9600ff;
  color: white;
  padding: 10px;
}

.companyRegisterBnt:hover {
  background-color: #9600ff;
  color: white;
}

@media (min-height: 800px) {
  footer {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
