/* HEADER */
.purpleBackBtn {
  display: none;
  height: 30px;
  position: absolute;
  top: 15px;
  left: 15px;
}

header {
  border-bottom: 9px #e1e1e1 solid;
  height: 360px;
}

.perfilBackground {
  background-image: url("../../assets/perfilEmpresaBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 146px;
  text-align: center;
}

.imgPerfil {
  text-align: center;
  position: relative;
  top: -92px;
}

.btns {
  height: 70px;
}

.backBtn {
  background: #280044;
  font-weight: bold;
  margin: 15px 30px;
  font-size: 20px;
  color: white;
  float: left;
  padding: 5px 10px;
  border-radius: 10px;
}

.editBtn {
  background: #280044;
  font-weight: bold;
  margin: 15px 15px;
  font-size: 20px;
  color: white;
  float: right;
  padding: 5px 10px;
  border-radius: 10px;
}

.headerInfos {
  text-align: center;
  top: -92px;
  position: relative;
}

.headerInfos h1 {
  font-size: 20px;
  font-weight: bold;
}

.headerInfos p {
  font-size: 14px;
  font-weight: bold;
  color: #808080;
}

.aceptBtn {
  background-color: green;
  padding: 10px;
  border-radius: 10px;
  color: #280044;
  font-size: 14px;
  font-weight: bold;
  margin: 20px;
  color: white;
}

.negBtn {
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  color: #280044;
  font-size: 14px;
  font-weight: bold;
  margin: 20px;
  color: white;
}

/* MAIN */

.aboutUs h3 {
  padding: 10px;
  border-bottom: 1px #e1e1e1 solid;
  font-size: 15px;
  font-weight: 600;
}
.aboutUs p {
  padding: 5px;
  margin: 0px 5px;
  text-align: justify;
  border-bottom: 1px #e1e1e1 solid;
}

.infoContainer {
  padding: 0px 10px;
}

.infoBox {
  margin: 15px 0px;
}

.infoTitle {
  font-size: 12px;
  color: #808080;
}

.infoText {
  font-size: 18px;
  font-weight: 500;
}

@media (min-width:700px) {
  body{
    display: grid;
    grid-template-columns: 0.1fr 4fr 2fr;
    background-color: rgb(243, 196, 46,0.9)!important;
  }
  
  .purpleBackBtn {
    display: block;
  }

  header{
    margin: 60px 30px;
    border-radius: 15px;
    border: 2px #280044 solid;
    background-color: white;
    /* border-bottom: unset; */
    box-shadow: #280044 0 0 10px;
  }

  .headerInfos {
    padding: 0px 30px;
  }

  .headerInfos h1,
  .headerInfos p{
    font-size: 24px;
    text-align: left;
  }
  
  .perfilBackground{
    border-radius: 15px 15px 0px 0px;
  }
  
  .backBtn{
    display: none;
  }

  .imgPerfil{
    text-align: unset;
    margin: 30px;
    width: 120px;
  }
  .imgPerfil img{
    width: 100%;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .btnContainer a{
    text-align: center;
    padding: 40px;
    margin: 0px 30px;
    font-size: 32px;
  }

  main{
    margin: 60px 30px;
    border-radius: 15px;
    border: 2px #280044 solid;
    box-shadow: #280044 0 0 10px;
    background-color: white;
    padding: 20px;
  }

  .infoTitle{
    font-size: 16px;
  }
}
