@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&family=Nunito:wght@200;400&family=Roboto+Slab:wght@200;400&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  color: #f3c42e;
  text-align: center!important;
  margin: auto;
}

/* HEADER */

header{
    color: #280044;
    text-align: center;
    padding: 50px 30px 10px;
    color: white;
}

.yellowBackBtn{
    height: 40px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.purpleBackBtn{
  display: none;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 15px;
}

header h1{
    font-size: 36px;
    margin-bottom: 10px;
}

header p{
    font-size: 18px;
}
body {
    background-color: #280044 !important;
    color: white;
    padding-bottom: 50px!important;
  }

/* MAIN */

main{
    text-align: center;
}
#experiencia{
    margin: 30px;
}

#habilidades{
    margin: 30px;
}
.form-check{
    text-align: center;
}
.inputs{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 50px;
    height: 100%;
}
.inputs input {
  margin: 15px;
  padding: 20px 5px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-bottom: 2px #f3c42e solid;
  background-color: #280044;
  color: white;
}
.data{
    color: white;
    display: flex;
    width: 100%;
    color-scheme: dark;
    margin: 15px;
    padding: 20px 5px;
    justify-content: center;
}

.data p{
  margin: 0px!important;
}

.inputs input{
    margin: 15px;
    padding: 20px 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-bottom: 2px #f3c42e solid;

}

.inputs input:focus{
    outline: none;
}

.inputs input::placeholder{
    color: rgb(207, 207, 207);
}
.selectStyle{
    background-color: #280044 !important;
    color: white !important;
    margin: 15px !important;
    width: auto!important;
    border: #f3c42e 1px solid!important;
    /* -webkit-appearence:none !important; */
    color-scheme: dark !important;
  }
  
  .selectStyle:focus{
    background-color: #280044 !important;
    color: white !important;
    margin: 15px !important;
    width: auto!important;
    border: #f3c42e 1px solid!important;
    box-shadow: #f3c42e 0 0 10px!important;
  }

.registerBtn {
    background-color: #f3c42e !important;
    color: #280044 !important;
    padding: 15px !important;
    font-size: 20px !important;
    border-radius: 15px !important;
    font-weight: bold !important;
}
.btn-warning {
    background-color: #f3c42e !important;
    color: #280044 !important;
    padding: 15px !important;
    font-size: 15px !important;
    border-radius: 15px !important; 
    font-weight: bold !important;
    margin: 25px !important;
}
@media (min-width: 1050px) {
    *{
      color: #280044;
    }
    option {
      color: white;
    }
    body {
      padding: 0px 300px;
      background-color: rgb(40, 0, 68, 0.4)!important;
    }
  
    header {
      color: #280044;
      margin: 20px;
      padding: 0px;
    }
  
    .yellowBackBtn {
      display: none;
    }
  
    .purpleBackBtn {
      display: block;
    }
  
    .inputs {
      border-radius: 15px;
      box-shadow: #280044 0 0 10px;
      background-color: #280044;
    }
  }
  
