@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800;900&display=swap");

* {
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

header {}

.perfilBackground {
    background: #808080;
    height: 146px;
    text-align: center;
}

.btns {
    height: 70px;
}

.logoutBtn {
    background: #280044;
    font-weight: bold;
    margin: 15px 30px;
    font-size: 20px;
    color: white;
    float: left;
    padding: 5px 10px;
    border-radius: 10px;
}

.editBtn {
    background: #280044;
    font-weight: bold;
    margin: 15px 15px;
    font-size: 20px;
    color: white;
    float: right;
    padding: 5px 10px;
    border-radius: 10px;
}
.imgPerfil {
    text-align: center;
    position: relative;
    top: -92px;
  }
  
  .imgPerfil img{
    border-radius: 50%;
  }

body {
    background: rgb(255, 255, 255);
}

.registerContainer {
    display: flexbox;
    padding: 15px;
    text-align: center;
    line-height: 50%;
    color: white;
    background-color: #280044;
    width: 60%;
    height: 500px;
    margin: auto;
    margin-top: -3%;
    border-radius: 20px;
    margin-bottom: 30px;
    ;
}
.text {

    text-align: center;
    line-height: 50%;
    color: white;
    margin-top: 15%;
}
.button {

    margin-top: 7%;

}

@media (min-height: 800px) {
    footer {
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}