@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&family=Nunito:wght@200;400&family=Roboto+Slab:wght@200;400&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #280044;
}

label {
  color: white;
  font-weight: bold;
}

/* HEADER */

header {
  color: #f3c42e;
  text-align: center;
  padding: 90px 30px 10px;
}

.yellowBackBtn {
  height: 40px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.purpleBackBtn {
  display: none;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 15px;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

header p {
  font-size: 18px;
}

/* MAIN */

.inputsContainer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 50px;
  background-color: #280044;
  height: 100%;
}

.inputs input:focus {
  outline: none;
}

.inputs input::placeholder {
  color: rgb(207, 207, 207);
}

.registerBtn {
  background-color: #f3c42e;
  color: #280044;
  padding: 15px;
  font-size: 25px;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.checked:checked {
  background-color: #f3c42e;
}

h3 {
  color: white !important;
  text-align: center;
  margin-bottom: 25px !important;
  font-size: larger !important;
  font-style: italic;
}

@media (min-width: 900px) {
  body {
    padding: 0px 300px 20px;
    background-color: rgb(243, 196, 46, 0.9);
  }

  header {
    color: #280044;
    margin: 20px;
    padding: 0px;
  }

  .yellowBackBtn {
    display: none;
  }

  .purpleBackBtn {
    display: block;
  }

  .inputsContainer {
    border-radius: 15px;
    box-shadow: #280044 0 0 10px;
    background-color: #280044;
    padding: 20px;
  }

  .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: bold;
    margin: auto;
  }

  .column {
    margin: 40px;
  }

  .registerBtn {
    margin: auto;
    width: 25%;
  }
}
