body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(40, 0, 68,0.4)!important;
}

#header {
  width: 100%;
  color: #280044;
  text-align: center;
  padding: 15px;
}

#header h1{
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
}

.backBtn{
  height: 40px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.card1 {
  align-items: center;
  max-width: 800px;
  margin: 1.1rem;
  margin-bottom: 0;
  padding: 20px;
  color: white;
  background-color: #280044;
  border-radius: 10px;
}

.job {
  font-weight: 1000;
  font-size: 25px;
  margin-bottom: 1%;
  text-align: left;
}
.empresa {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 1%;
  text-align: left;
}
.edereco{
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 1%;
}

.shadowBtn:hover{
  box-shadow: white 0 0 10px!important;
}

@media (min-width: 480px) {
  #header h1 br{
    display: none;  
  }
}