body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(40, 0, 68,0.4)!important;
}

#header {
  width: 100%;
  color: #280044;
  text-align: center;
  padding: 15px;
}

#header h1{
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
}

.backBtn{
  height: 40px;
  position: absolute;
  top: 15px;
  left: 15px;
}

#cards{
  display: flex;
  flex-direction: column;
  
}

.cardContainer{
  background-color: #280044;
  padding: 10px;
  color: white;
  margin: 20px;
  border-radius: 10px;

}

@media (min-width: 800px){
  #cards{
    flex-direction: row;
    flex-wrap: nowrap;
  }
}